<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NER</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <textarea id="txtInput" cols="50" rows="10">

    </textarea>
    <button onclick="get_entity()">get</button>
    <div id="result">
    </div>

    <script type="text/javascript">
        function get_entity(){
            var text = $("#txtInput").val();

            $.post('/get_ner', {text: text}, function(result){
                console.log(result);
                var entities = result["entities"];
                var sentences = result["tokenizes"];
                var i;
                var text_result = "";
                var start_sent = 0;
                var color_type = "danger";
                if(entities.length == 0){
                    text_result += "<span>" + sentences.slice(0, sentences.length).join(' ') + "</span>";
                }

                for(i=0; i < entities.length; i++){
                    idx_start_entities = entities[i][1];
                    idx_end_entities = entities[i][2];

                    if(entities[i][3] == "LOC"){
                        color_type = "primary";
                    } else if(entities[i][3] == "PER"){
                        color_type = "danger";
                    } else if(entities[i][3] == "ORG"){
                        color_type = "warning";
                    } else {
                        color_type = "info";
                    }

                    text_result += "<span>" + sentences.slice(start_sent, idx_start_entities).join(' ') + "</span>";
                    text_result += "<span class='text-white bg-" + color_type +" '> " + entities[i][0] + " </span>";
                    text_result = text_result.replace(" .", ". ");
                    start_sent = idx_end_entities;
                }
                text_result += ".";
                console.log(text_result);
                $("#result").html(text_result);
            });
        }
    </script>

</div>
</body>
</html>